<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end"> <ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>Liste des courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- binding Two Ways -->
  <ion-item>
    <ion-label position="floating">Nouvel article</ion-label>
    <ion-input [(ngModel)]="newItem"></ion-input>
    <ion-button
      slot="end"
      color="primary"
      (click)="add()"
      [disabled]="!newItem"
      class="ion-margin"
    >
      +
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <div (click)="openActionSheet(item)">
        {{ item.name }}
        <span slot="end">(quantité : {{ item.quantite }} )</span>
      </div>
      <ion-icon
        *ngIf="item.isChecked"
        name="checkmark-circle"
        slot="end"
        color="success"
      ></ion-icon>
      <ion-button
        slot="end"
        color="primary"
        (click)="clear(item)"
        class="ion-margin"
      >
        <ion-icon name="trash"></ion-icon
      ></ion-button>
    </ion-item>
  </ion-list>
</ion-content>
