<ion-header>
  <ion-toolbar
    ><ion-buttons slot="end"> <ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>Chrono</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="time">{{ time | toTime }}</div>
  <div class="buttons">
    <ion-button color="danger" (click)="stop()" [disabled]="!idInterval"
      >STOP</ion-button
    >
    <!-- [disabled]="idInterval == null" -->
    <ion-button color="success" (click)="start()" [disabled]="idInterval"
      >START</ion-button
    >
    <ion-button
      color="tertiary"
      (click)="save()"
      [disabled]="times.length >= 10 || !idInterval"
      >SAVE</ion-button
    >
  </div>

  <div class="saved-chronos ion-text-left">
    <ul>
      <li *ngFor="let t of times">{{ t | toTime }}</li>
    </ul>
  </div>
</ion-content>
